<!DOCTYPE html>

<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{meta_title}}</title>

    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat" rel="stylesheet">
    <link href="/style.css" rel="stylesheet" type="text/css"/>
    <!--
    <style>
    </style>
    -->
	<link rel="icon" href="/img/favicon.png" type="image/x-icon" />
	<link rel="apple-touch-icon" href="/img/apple-touch-icon.png" />

    {{ghost_head}}

</head>

	<body class="{{body_class}}">

        <!--[if lt IE 10]>
            <div class="ie">
                Sorry, I am using features that are not supported by this browser.
            </div>
        <![endif]-->

		<a href="#main-content" class="skip-to-content">skip to main content</a>

		{{{body}}}

	  	{{>footer}}

		{{ghost_foot}}

		<!-- Scripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>
            if (typeof jQuery == 'undefined') {
                document.write(unescape("%3Cscript src='/js/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
            }
        </script>
		<script type="text/javascript" src="/js/base.min.js"></script>

	</body>

</html>
