{{!< default}}

{{#post}}

<main role="main" id="main-content" class="coloured">

    <div class="hero spacer">
		<a href="/" class="hero__pos">
			<span class="hero__text">
                {{@blog.title}}
            </span>
    		<span class="hero__desc">
    			{{@blog.description}}
    		</span>
        </a>
	</div>

	<article class="wrapper coloured">

 		<div class="main-content spacer {{post_class}}">

            <header class="central">
                <h1 class="title-text">
                    {{title}}
                </h1>

                {{#if author}}
                <p class="meta">
                    by {{author.name}} <br>
                    Published on: {{date format='DD MMM YYYY'}}
                </p>
                {{/if}}

                {{#if tags}}
                <p class="tags">
                    {{tags prefix=" Filed in: "}}
                </p>
                {{/if}}

                <p class="reading-time">
                    Read in <span class="eta"></span>
                </p>
            </header>

			<div class="post__content">
				{{content}}
			</div>

		</div>

        <footer class="main-content">

            <h1 class="visually-hidden">Continue Reading</h1>

            <div class="square">

                {{#prev_post}}
                <section class="main-content content square__item central">

                    <h2 class="central title-text">
                        <a href="{{url}}">
                            {{title}}
                        </a>
                    </h2>

                    <p class="date">
                        Published on: {{date format='DD MMM YYYY'}}
                    </p>

                    {{#if tags}}
                    <p class="tags">
                        {{tags prefix=" Filed in: "}}
                    </p>
                    {{/if}}

                    <p class="post__content">
                        {{excerpt words="15"}}&hellip;
                    </p>

                </section>
                {{/prev_post}}

                {{#next_post}}
                <section class="main-content content square__item central">

                    <h2 class="central title-text">
                        <a href="{{url}}">
                            {{title}}
                        </a>
                    </h2>

                    <p class="date">
                        Published on: {{date format='DD MMM YYYY'}}
                    </p>

                    {{#if tags}}
                    <p class="tags">
                        {{tags prefix=" Filed in: "}}
                    </p>
                    {{/if}}

                    <p class="post__content">
                        {{excerpt words="15"}}&hellip;
                    </p>

                </section>
                {{/next_post}}

            </div>

        </footer>

  	</article>

</main>

{{/post}}
